[Unit]
Description=DeskAI Desktop Context Daemon
After=graphical-session.target

[Service]
ExecStart={{DESKAI_PATH}}/desk/bin/python {{DESKAI_PATH}}/main.py
WorkingDirectory={{DESKAI_PATH}}
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
